body{
    background-image:url(images/water-sea-ocean-travel.jpg) ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

h1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 500;
    margin-left: 70px;
    margin-top: 30px;
}

#can{
    border: 3pt solid #808080;
    height: 300px;
    display: block;
    margin: 20px auto;
    margin-left: 24%;
    border-radius: 15px;
}

.first_step{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    padding: 15px;
    margin-left: 30%;
}

@media only screen and (max-width:600px){
    h1{
        font-size: 50px;
    }

    #can{
        border: 1ptsolid #808080;
        height: 100px;
        margin: 10px auto;
    }

    .first_step{
        font-size: 20px;
        padding: 15px;
        margin-left: 10%;
    }
}



